.chat-component-container{
    background-color: antiquewhite;
    border: 1px solid rgb(12, 12, 173);
    display: flex;
    width: calc(100% - 80px);
    box-sizing: border-box;
    flex-direction: row;
    height: calc(100% - 108px);
}

.my-contacts{
    border: 1px solid red;
    flex-grow: 1;
    text-align: center;
}

.conversation-container{
    border: 1px solid black;
    padding: 0 10px;
    cursor: pointer;
}

.conversation-container h5{
    margin: 10px;
    color: #666666;
}

.conversation-container h4{
    margin: 10px;
}


.chat-component{
    border: 1px solid green;
    flex-grow: 11;
    display: flex;
    flex-direction: column;
}

.chat-content{
   flex-grow: 11;
   background-color: floralwhite;
}

.input-container{
    flex-grow: 1;
    display: flex;
}

.input-container .message-input{
 flex-grow: 1;
}

.message-icon{
    width: 500px;
    height: 400px;
    opacity: 0.3;
    margin-left: calc(50% - 250px);
    margin-top: calc(15%);
}