.chat-component-container{
    background-color: fff;
    border: 1px solid rgb(12, 12, 173);
    border-collapse: collapse;
    display: flex;
    width: calc(100% - 80px);
    box-sizing: border-box;
    flex-direction: row;
    height: calc(100% - 108px);
}

.my-contacts{
    border: 1px solid #000;
    border-collapse: collapse;
    flex-grow: 1;
    text-align: center;
}

.conversation-container{
    background-color: #fff;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0 10px;
    cursor: pointer;
}

.conversation-container-active{
    background-color: #f0ffff;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0 10px;
    cursor: pointer;
}

.conversation-container h5, .conversation-container-active h5{
    margin: 10px;
    color: #666666;
}

.conversation-container h4, .conversation-container-active h4{
    margin: 10px;
}


.chat-component{
    border: 1px solid #000;
    border-collapse: collapse;
    flex-grow: 11;
    display: flex;
    flex-direction: column;
}

.chat-content{
   flex-grow: 11;
   background-color: fff;
}

.input-container{
    flex-grow: 1;
    display: flex;
}

.input-container .message-input{
 flex-grow: 1;
}

.message-icon{
    width: 500px;
    height: 400px;
    opacity: 0.3;
    margin-left: calc(50% - 250px);
    margin-top: calc(15%);
}

.messageBubble{
    margin: 5px;
    border: 1px solid #000;
    border-radius: 15px;
    display: inline-block;
}

.messageBubble h5{
    margin: 5px;
    display: inline-block;
}

.sentMessagePosition{
    display: flex;
    justify-content: flex-end;
}

.recievedMessagePosition{
    display: flex;
    justify-content: flex-start;
}

.sentMessageColor{
    background-color: #dbf5ff;
}

.recievedMessageColor{
    background-color: #fff5ee;
}