.navbar{
    background-color: #262f35;
    color: #FFF;
    padding: 15px 10px;
    /* height: 10vh; */
}

.navbar h1{
    margin: 0;
}

.navbar h3{
    margin: 0px auto;
}

.side-menu{
    background-color: #e52b50;
    width: 200px;
    height: 100%;
    background-color: #262f35;
    display: inline-block;
    vertical-align: top
    
}

.interactive-container{
    background-color: #e6e8fa;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 200px);
}

.main-container{
    box-sizing: border-box;
    border: 5px solid black;
    height: 100vh;
}

.dashboard-body{
    background-color: #e52b50;
    height: calc(100% - 90px);
    box-sizing: content-box;
}