.chat-component-container{
    display: inline-block;
    width: 100%;
    box-sizing: content-box;
}

.my-contacts{
    border: 1px solid #eaeef0;
    height: 100%;
    position: fixed;
    text-align: center;
    border-collapse: collapse;
    display: inline-block;
}

.contact-container{
    border: 1px solid #eaeef0;
    text-align: left;
    padding: 0 15px;
    cursor: pointer;
    border-collapse: collapse;
}

.contact-container h5{
    margin: 7px 0;
}

.chat-component{
    display: block;
    margin-left: 150px;
    background-color: #e6e8fa;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    height: 100%;
}

.chat-content{
    margin: 10px;
    width: 77%;
    height: 70%;
    background-color: #fff;
    display: block !important;
}

.input-container{
    display: block !important;
    margin: 10px;
    height: 11%;
}

.input-container .message-input{
    margin: 5px;
    height: 90%;
    width: 70%;
    box-sizing: border-box;
    display: inline-block;
}

.input-container .button-input{
    width: 8%;
    display: inline-block;
    background-color:#0d98ba;
    color: #fff;
    padding: 29px;
}