.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal{
    position:fixed;
    background: white;
    width: 30%;
    height: auto;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.modal-content{
    /* border: 1px solid #000; */
    display: inline-block;
    padding: 0 5px;
}

.close-icon{
    
    font-size: 24px;
    cursor: pointer;
}

.modal h3{
    margin: 5px 0;
}

.name-input{
    display: block;
    width: 90%;
    height: 35px;
    margin: auto;
    box-sizing: border-box;
    font-size: 17px;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #000;
}

.user-list{
    /* border: 1px solid #5d8aa8; */
    height: 150px;
    overflow-y: scroll;
}

.user-list::-webkit-scrollbar {
    display: none;
}

.close-icon-container{
    display: flex;
    justify-content: flex-end;
}

.contact-container{
    /* border: 1px solid #008000; */
    display: flex;
    padding: 5px 8px;
    cursor: pointer;
}

.contact-name{
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
}

.contact-selected{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    color: #21abcd;
}

.contact-unselected{
    display: none;
}

.modal-button{
    margin: 20px 0;
    background-color: #008000;
    color: #fff;
    padding: 5px;
    cursor: pointer;
}

.enabled{
    opacity: 1;
}

.disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

.user-message{
    font-size: 10px;
    margin-top: 15px;
    color: #91a3b0;
}